/* Text Elements */

h1.heading-1 {
  text-align: center;
  font-weight: 700;
  font-size: 40px;
  font-family: 'Montserrat', cursive;
}

h1.heading-4 {
  font-weight: 700;
  font-family: 'Montserrat', cursive;
}

h1.headind-artist {
  font-weight: 700;
  font-family: 'Montserrat', cursive;
}

h1.heading-detail {
  font-weight: 700;
  font-family: 'Montserrat', cursive;
}

p.paragraph.Title-Guitar {
  padding-right: 10px;
  padding-left: 0;
  font-weight: 700;
  font-size: 20px;
  font-family: 'Montserrat', cursive;
}

p.paragraph.paragraph-5 {
  text-align: left;
  font-family: 'Montserrat', cursive;
}

p.paragraph.paragraph-7 {
  text-align: left;
  font-family: 'Montserrat', cursive;
}

p.paragraph.Brand-Name {
  font-weight: 600;
  font-style: italic;
}

p.paragraph.gallery.label {
  display: block;
  padding-right: .5rem;
  padding-left: .5rem;
  width: 260px;
  border-width: .1875rem;
  border-style: solid;
  background-color: #858a8e;
  text-align: center;
  white-space: nowrap;
}

a.link-text.nav-button {
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  max-height: 50px;
  border: .0625rem solid rgba(255, 255, 255, .5);
  background-color: #3d3d3d;
  color: #fff;
  text-align: center;
  font-size: 20px;
  font-family: 'Montserrat', cursive;
}

a.link-text.footer.link {
  color: #424345;
  font-family: 'Montserrat', cursive;
}

a.link-text.text-link-1 {
  color: #002742;
  font-weight: 600;
  font-family: 'Montserrat', cursive;
}

a.link-text.pdf-link {
  color: #730021;
  font-weight: 700;
  font-family: 'Montserrat', cursive;
}

a.link-text.nav-button:hover {
  background-color: #aba1a1;
}

/* Interaction Elements */

a.link-button.button:hover {
  background-color: #550f3a;
}

/* Layout Elements */

body.Site.Title {
  display: grid;
  margin-top: 20px;
  text-align: center;
  font-size: 16px;
}

.container.footer.nav {
  display: -webkit-box;
  display: -webkit-flex;
  display:    -moz-box;
  display: -ms-flexbox;
  display:         flex;
  -ms-flex-pack: center;
  -ms-flex-align: center;

  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
          justify-content: center;
}

.container.nav-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display:    -moz-box;
  display: -ms-flexbox;
  display:         flex;
  -ms-flex-pack: center;

  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
          justify-content: center;
}

.container.container-4 {
  text-align: left;
}

.container.sd-two-cols {
  text-align: left;
}

.container.container-9 {
  padding-left: 40px;
}

.container.container-10 {
  padding-left: 40px;
}

.container.collection.section {
  display: -webkit-box;
  display: -webkit-flex;
  display:    -moz-box;
  display: -ms-flexbox;
  display:         flex;
  padding-left: 10px;
}

.container.list-section {
  display: -webkit-box;
  display: -webkit-flex;
  display:    -moz-box;
  display: -ms-flexbox;
  display:         flex;
  padding-left: 60px;
}

.container.container-11 {
  display: -webkit-box;
  display: -webkit-flex;
  display:    -moz-box;
  display: -ms-flexbox;
  display:         flex;
  -ms-flex-pack: center;
  -ms-flex-align: center;

  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
          justify-content: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
          align-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
          align-items: center;
}

div.responsive-picture {
  max-width: none;
}

.html-element.html-element-1 {
  display: block;

  justify-self: left;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
          align-self: center;
  grid-area: elementArea;
}

a.responsive-picture.picture-link-1 {
  max-width: 600px;
}

a.responsive-picture.picture-link-2 {
  max-width: 20px;
  width: 20%;
}

a.responsive-picture.picture-link-4 {
  max-width: 20px;
  width: 20%;
}

a.responsive-picture.gallery-link {
  max-width: 260px;
  border: .375rem solid #fff;
}

a.responsive-picture.picture-link-3 {
  max-width: 350px;
  width: 200%;
}

@media screen and (min-width: 24.875rem) {
  /* Text Elements */

  h1 span.heading-text-4 {
    font-weight: 600;
    font-style: italic;
  }

  h1 span.heading-text-8 {
    font-weight: 600;
  }

  h1 span.heading-text-1 {
    font-weight: 600;
  }

  h1 span.heading-text-2 {
    font-style: italic;
  }

  h1 span.heading-text-6 {
    font-weight: 600;
    font-style: italic;
  }

  h1 span.heading-text-7 {
    font-weight: 600;
  }

  p.paragraph span.paragraph-text-8 {
    font-weight: 700;
  }

  p.paragraph.Brand-Name {
    font-weight: 600;
    font-style: italic;
  }

  p.paragraph.gallery.label {
    max-width: 260px;
    max-height: 300px;
    height: 60px;
    border-width: .25rem;
    border-style: solid;
    text-align: center;
  }

  a.link-text.pdf-link {
    color: #730021;
    font-weight: 700;
  }

  a.link-text.text-link-1 {
    color: #002742;
    font-weight: 600;
    font-family: 'Montserrat', cursive;
  }

  /* Layout Elements */

  .container.container-1 {
    text-align: left;
  }

  .container.container-4 {
    text-align: left;
  }

  .container.nav-wrapper {
    -ms-flex-pack: center;

    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
            justify-content: center;
  }

  .container.collection.section {
    display: -webkit-box;
    display: -webkit-flex;
    display:    -moz-box;
    display: -ms-flexbox;
    display:         flex;
    padding-left: 145px;
  }

  .container.list-section {
    display: -webkit-box;
    display: -webkit-flex;
    display:    -moz-box;
    display: -ms-flexbox;
    display:         flex;
    padding-left: 145px;
  }

  .container.container-11 {
    display: -webkit-box;
    display: -webkit-flex;
    display:    -moz-box;
    display: -ms-flexbox;
    display:         flex;
    -ms-flex-pack: center;
    -ms-flex-align: center;

    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
            align-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
            justify-content: center;
  }

  a.responsive-picture.picture-link-3 {
    min-width: 380px;
  }

  a.responsive-picture.gallery-link {
    padding-right: 0;
    padding-left: 0;
    border: .1875rem solid #fff;
  }
}

@media screen and (min-width: 40rem) {
  /* Text Elements */

  h1.heading-2 {
    color: #8a0000;
    font-style: italic;
    font-family: 'Montserrat', cursive;
  }

  h1.heading-1 {
    margin-bottom: 5rem;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 10px;
  }

  h1 span.heading-text-5 {
    font-weight: 600;
    font-size: 2.5rem;
  }

  h1 span.heading-text-4 {
    font-weight: 600;
    font-style: italic;
    font-size: 2.1875rem;
  }

  h1 span.heading-text-1 {
    font-weight: 600;
    font-size: 2.5rem;
  }

  h1 span.heading-text-2 {
    font-weight: 600;
    font-style: italic;
    font-size: 2.1875rem;
  }

  h1 span.heading-text-6 {
    font-size: 2.1875rem;
  }

  h1 span.heading-text-7 {
    font-size: 2.5rem;
  }

  p.paragraph.gallery.label {
    display: block;
    max-width: 260px;
    max-height: 60px;
    width: 260px;
    height: 60px;
    border-width: .1875rem;
    background-color: #858a8e;
    text-align: center;
    white-space: pre-wrap;
    font-family: 'Montserrat', cursive;

    justify-self: center;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
            align-self: center;
  }

  p.paragraph.paragraph-5 {
    text-align: left;
  }

  p.paragraph.Title-Guitar {
    font-weight: 700;
    font-family: 'Montserrat', cursive;
  }

  p.paragraph.paragraph-7 {
    text-align: left;
    font-family: 'Montserrat', cursive;
  }

  p.paragraph span.paragraph-text-6 {
    font-size: 1.4375rem;
  }

  p.paragraph span.paragraph-text-7 {
    font-weight: 700;
  }

  p.paragraph.Brand-Name {
    font-weight: 600;
    font-style: italic;
    font-size: 19px;
  }

  p.paragraph span.paragraph-text-9 {
    font-weight: 600;
  }

  a.link-text.nav-button {
    display: block;
    margin-right: 0;
    margin-left: 0;
    padding-top: 10px;
    padding-right: 10px;
    min-width: 400px;
  }

  a.link-text.text-link-1 {
    color: #002742;
    text-align: left;
    font-weight: 600;
    font-family: 'Montserrat', cursive;
  }

  a.link-text.pdf-link {
    color: #730021;
    font-weight: 700;
    font-family: 'Montserrat', cursive;
  }

  a.link-text.nav-button:hover {
    background-color: #aba1a1;
  }

  /* Interaction Elements */

  a.link-button.button {
    margin-left: 10px;
  }

  /* Layout Elements */

  body.Site.Title {
    display: grid;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-top: 10px;
    min-height: 0vh;

    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
       -moz-box-orient: horizontal;
       -moz-box-direction: normal;
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
            align-content: flex-start;
  }

  body.body-1 {
    position: static;
    min-height: 80vh;

    justify-self: center;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
            align-self: center;
  }

  .container.nav-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display:    -moz-box;
    display: -ms-flexbox;
    display:         flex;
    -ms-flex-pack: center;
    -ms-flex-align: end;
    min-width: 0;
    height: auto;

    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
            justify-content: center;
    justify-self: center;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
            align-content: flex-start;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
       -moz-box-align: end;
            align-items: flex-end;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }

  .container.collection.section {
    position: static;
    display: -webkit-box;
    display: -webkit-flex;
    display:    -moz-box;
    display: -ms-flexbox;
    display:         flex;
    -ms-flex-pack: center;
    padding-left: 0;
    min-width: 10px;

    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
            justify-content: center;
  }

  .container.container-4 {
    text-align: left;
  }

  .container.container-5 {
    text-align: left;
  }

  .container.sd-two-cols {
    text-align: center;
  }

  .container.list-section {
    position: static;
    display: -webkit-box;
    display: -webkit-flex;
    display:    -moz-box;
    display: -ms-flexbox;
    display:         flex;
    -ms-flex-pack: center;
    padding-left: 0;
    min-width: 10px;

    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
            justify-content: center;
  }

  .container.container-11 {
    display: -webkit-box;
    display: -webkit-flex;
    display:    -moz-box;
    display: -ms-flexbox;
    display:         flex;
  }

  .container.container-12 {
    display: -webkit-box;
    display: -webkit-flex;
    display:    -moz-box;
    display: -ms-flexbox;
    display:         flex;

    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }

  div.responsive-picture.picture-1 {
    position: static;
    display: block;
    padding: 0 200px 100px;
    min-width: 1200px;
    max-width: 500px;
    max-height: none;
  }

  a.responsive-picture.picture-link-2 {
    max-width: 30px;
    width: 30%;
  }

  a.responsive-picture.picture-link-4 {
    max-width: 30px;
    width: 30%;
  }

  a.responsive-picture.picture-link-3 {
    min-width: 380px;
  }

  li.list-item-container.list-item-container-7 {
    text-align: left;
  }

  .html-element.html-element-3 {
    max-width: 700px;
    background-color: #fff;
    background-image: none;
    background-attachment: scroll;
    background-position: left top;
    background-clip: border-box;
    background-origin: padding-box;
    background-size: 0 0;
    background-repeat: no-repeat;
    opacity: .98;

    background-blend-mode: normal;
  }
}

@media screen and (min-width: 64rem) {
  /* Text Elements */

  h1.heading-1 {
    font-weight: 700;
  }

  h1.heading-3 {
    font-size: 5px;
  }

  h1.heading-4 {
    padding-right: 945px;
    min-width: 2000px;
    max-width: 0;
    width: 0;
    text-align: center;
    font-weight: 600;
    font-size: 47px;
  }

  h1.headind-artist {
    padding-right: 965px;
    min-width: 2000px;
    max-width: 0;
    width: 0;
    text-align: center;
    font-weight: 600;
  }

  h1.heading-detail {
    padding-right: 785px;
    min-width: 2000px;
    max-width: 0;
    width: 0;
    text-align: center;
  }

  h1 span.heading-text-1 {
    font-style: normal;
    font-size: 2.5rem;
  }

  h1 span.heading-text-2 {
    font-weight: 600;
    font-style: italic;
    font-size: 2.1875rem;
  }

  h1 span.heading-text-3 {
    font-size: 2.3125rem;
  }

  h1 span.heading-text-4 {
    font-weight: 600;
    font-style: italic;
    font-size: 2.1875rem;
  }

  h1 span.heading-text-5 {
    font-weight: 600;
    font-size: 2.5rem;
  }

  h1 span.heading-text-6 {
    font-weight: 600;
    font-style: italic;
    font-size: 2.1875rem;
  }

  h1 span.heading-text-7 {
    font-weight: 600;
    font-size: 2.5rem;
  }

  p.paragraph.gallery.label {
    display: block;
    max-width: 260px;
    height: 70px;
    border-width: .1875rem;
    border-style: solid;
    background-color: #7b7b7b;
  }

  p.paragraph span.paragraph-text-3 {
    font-weight: 600;
    font-style: italic;
    font-family: 'Montserrat', cursive;
  }

  p.paragraph span.paragraph-text-4 {
    font-weight: 600;
    font-style: italic;
    font-family: 'Montserrat', cursive;
  }

  p.paragraph span.paragraph-text-5 {
    font-weight: 600;
    font-style: italic;
    font-family: 'Montserrat', cursive;
  }

  p.paragraph.InterLigne {
    font-size: 6px;
    font-family: 'Montserrat', cursive;
  }

  p.paragraph.paragraph-5 {
    padding-right: 0;
    padding-left: 30px;
    text-align: left;
    font-weight: 500;
    font-family: 'Montserrat', cursive;
  }

  p.paragraph.paragraph-6 {
    position: relative;
    padding-left: 20px;
    max-width: 400px;
    text-align: justify;
    font-family: 'Montserrat', cursive;
  }

  p.paragraph.paragraph-7 {
    text-align: left;
    font-weight: 500;
    font-family: 'Montserrat', cursive;
  }

  p.paragraph.paragraph-8 {
    font-weight: 500;
    font-style: italic;
    font-family: 'Montserrat', cursive;
  }

  p.paragraph span.paragraph-text-1 {
    font-weight: 700;
  }

  p.paragraph.Title-Guitar {
    font-weight: 700;
    font-size: 31px;
    font-family: 'Montserrat', cursive;
  }

  p.paragraph span.paragraph-text-2 {
    font-weight: 400;
  }

  p.paragraph.Brand-Name {
    padding-top: 0;
    padding-right: 40px;
    padding-left: 0;
    font-size: 24px;
  }

  p.paragraph span.paragraph-text-6 {
    font-size: 1.875rem;
  }

  a.link-text.text-link-1 {
    color: #002742;
    text-align: left;
    font-weight: 600;
    font-family: 'Montserrat', cursive;
  }

  a.link-text.nav-button {
    display: inline;
    float: none;
    width: 400px;
  }

  a.link-text span.text-link-text-1 {
    color: #730021;
  }

  a.link-text span.text-link-text-2 {
    color: #214119;
  }

  a.link-text.pdf-link {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 0;
    color: #730021;
    font-weight: 700;
    font-size: 19px;
  }

  a.link-text.text-link-1:hover {
    background-color: #c9e041;
  }

  a.link-text.nav-button:hover {
    background-color: #aba1a1;
  }

  /* Interaction Elements */

  a.link-button.button {
    position: static;
    display: inline-block;
    background-color: #5796ca;
    vertical-align: middle;
  }

  a.link-button.button:hover {
    min-width: 0;
    background-color: #550f3a;
  }

  /* Layout Elements */

  .container.collection.section {
    -ms-flex-pack: center;
    padding-left: 0;

    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
            justify-content: center;
  }

  .container.sd-two-cols {
    display: grid;
    padding-top: 20px;
  }

  .container.container-6 {
    display: -webkit-box;
    display: -webkit-flex;
    display:    -moz-box;
    display: -ms-flexbox;
    display:         flex;
  }

  .container.container-7 {
    display: -webkit-box;
    display: -webkit-flex;
    display:    -moz-box;
    display: -ms-flexbox;
    display:         flex;
  }

  .container.container-8 {
    display: -webkit-box;
    display: -webkit-flex;
    display:    -moz-box;
    display: -ms-flexbox;
    display:         flex;
  }

  .container.nav-wrapper {
    -ms-flex-pack: start;

    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
       -moz-box-pack: start;
            justify-content: flex-start;
  }

  .container.container-1 {
    padding-left: 120px;
    max-width: none;
  }

  .container.container-2 {
    padding-left: 120px;
  }

  .container.container-3 {
    display: block;
  }

  .container.list-section {
    -ms-flex-pack: center;
    padding-left: 0;

    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
            justify-content: center;
  }

  .container.container-11 {
    display: -webkit-box;
    display: -webkit-flex;
    display:    -moz-box;
    display: -ms-flexbox;
    display:         flex;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-align: center;

    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
       -moz-box-orient: horizontal;
       -moz-box-direction: normal;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
            align-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
            align-items: center;
  }

  div.responsive-picture.picture-1 {
    max-width: none;
  }

  li.list-item-container.list-item-container-1 {
    text-align: left;
  }

  li.list-item-container.list-item-container-2 {
    text-align: left;
  }

  li.list-item-container.list-item-container-3 {
    text-align: left;
  }

  li.list-item-container.link1.text {
    text-align: left;
  }

  li.list-item-container.list-item-container-4 {
    text-align: left;
  }

  li.list-item-container.list-item-container-5 {
    text-align: left;
  }

  li.list-item-container.list-item-container-6 {
    text-align: left;
  }

  li.list-item-container.list-item-container-7 {
    text-align: left;
  }

  li.list-item-container.list-item-container-8 {
    text-align: left;
  }

  li.list-item-container.list-item-container-9 {
    text-align: left;
  }

  li.list-item-container.list-item-container-10 {
    text-align: left;
  }

  li.list-item-container.list-item-container-11 {
    text-align: left;
  }

  li.list-item-container.list-item-container-12 {
    text-align: left;
  }

  li.list-item-container.list-item-container-13 {
    text-align: left;
  }

  li.list-item-container.list-item-container-14 {
    text-align: left;
  }

  li.list-item-container.list-item-container-15 {
    text-align: left;
  }

  li.list-item-container.list-item-container-16 {
    text-align: left;
  }

  li.list-item-container.list-item-container-17 {
    text-align: left;
  }

  li.list-item-container.list-item-container-18 {
    text-align: left;
  }

  li.list-item-container.list-item-container-19 {
    text-align: left;
  }

  li.list-item-container.list-item-container-20 {
    text-align: left;
  }

  li.list-item-container.list-item-container-21 {
    text-align: left;
  }

  li.list-item-container.list-item-container-22 {
    text-align: left;
  }

  li.list-item-container.list-item-container-23 {
    text-align: left;
  }

  a.responsive-picture.picture-link-3 {
    min-width: 500px;
    max-width: 550px;
  }

  a.responsive-picture.picture-link-4 {
    padding-top: 5px;
    padding-left: 5px;
  }

  a.responsive-picture.picture-link-2 {
    padding-top: 5px;
    padding-left: 5px;
  }

  a.responsive-picture.picture-link-5 {
    min-width: 100px;
  }

  .html-element.html-element-2 {
    max-width: none;
    width: auto;
  }

  .html-element.html-element-3 {
    max-width: 700px;
  }

  a.responsive-picture.gallery-link {
    border-width: 0;
    border-color: #fff;
  }

  li.list-item-container.link1.text:hover {
    background-color: #b2d756;
  }
}